<!-- Footer -->
<section id="footer" class="bg-dark text-white py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3 mb-4">
                <h5 class="text-uppercase mb-4">RetailShop</h5>
                <p>Your one-stop shop for all your retail needs. We offer a wide range of products across multiple categories.</p>
            </div>
            <div class="col-md-3 mb-4">
                <h5 class="text-uppercase mb-4">Shop</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="/" class="text-white"><i class="fa fa-home mr-2"></i>Home</a></li>
                    <li class="mb-2"><a href="/tshirt" class="text-white"><i class="fa fa-tshirt mr-2"></i>T-Shirt</a></li>
                    <li class="mb-2"><a href="/belt" class="text-white"><i class="fa fa-circle mr-2"></i>Belt</a></li>
                    <li class="mb-2"><a href="/shoes" class="text-white"><i class="fa fa-shoe-prints mr-2"></i>Shoes</a></li>
                    <li class="mb-2"><a href="/wallet" class="text-white"><i class="fa fa-wallet mr-2"></i>Wallet</a></li>
                </ul>
            </div>
            <div class="col-md-3 mb-4">
                <h5 class="text-uppercase mb-4">Connect</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#" class="text-white"><i class="fa fa-facebook mr-2"></i>Facebook</a></li>
                    <li class="mb-2"><a href="#" class="text-white"><i class="fa fa-twitter mr-2"></i>Twitter</a></li>
                    <li class="mb-2"><a href="#" class="text-white"><i class="fa fa-instagram mr-2"></i>Instagram</a></li>
                    <li class="mb-2"><a href="#" class="text-white"><i class="fa fa-youtube mr-2"></i>YouTube</a></li>
                </ul>
            </div>
            <div class="col-md-3 mb-4">
                <h5 class="text-uppercase mb-4">Customer Service</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#" class="text-white"><i class="fa fa-question-circle mr-2"></i>Help & FAQ</a></li>
                    <li class="mb-2"><a href="#" class="text-white"><i class="fa fa-truck mr-2"></i>Shipping & Returns</a></li>
                    <li class="mb-2"><a href="#" class="text-white"><i class="fa fa-lock mr-2"></i>Privacy Policy</a></li>
                    <li class="mb-2"><a href="#" class="text-white"><i class="fa fa-file-alt mr-2"></i>Terms & Conditions</a></li>
                </ul>
            </div>
        </div>
        <hr class="bg-light">
        <div class="row">
            <div class="col-md-6">
                <p class="mb-0">&copy; 2025 RetailShop. All rights reserved.</p>
            </div>
            <div class="col-md-6 text-md-right">
                <p class="mb-0">Designed with <i class="fa fa-heart text-danger"></i> for our customers</p>
            </div>
        </div>
    </div>
</section>
<!-- ./Footer -->
