<!-- Header -->
<header class="header">
    <div class="header-top">
        <div class="container">
            <span>Sign up and get 20% off to your first order. <a href="#" class="signup-link">Sign Up Now</a></span>
            <button class="close-btn">&times;</button>
        </div>
    </div>

    <nav class="navbar">
        <div class="container">
            <div class="nav-content">
                <a class="logo" href="http://localhost:5000/">
                    <h1>SHOP.CO</h1>
                </a>

                <ul class="nav-menu">
                    <li><a href="/sales">On Sale</a></li>
                    <li><a href="/arrivals">New Arrivals</a></li>
                    <li><a href="/brands">Brands</a></li>
                </ul>

                <div class="search-container">
                    <form action="/search" method="get" class="search-form">
                        <div class="search-box">
                            <i class="fas fa-search"></i>
                            <input type="text" name="q" placeholder="Search for products..." autocomplete="off">
                        </div>
                    </form>
                </div>

                <div class="nav-icons">
                    {% if session.logged_in %}
                    <a href="/cart" class="icon-link">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="icon-text">Panier</span>
                    </a>
                    <a href="/profile?user={{session.uid}}" class="icon-link">
                        <i class="fas fa-user"></i>
                        <span class="icon-text">Profil</span>
                    </a>
                    <a href="/out" class="icon-link" title="Déconnexion">
                        <i class="fas fa-sign-out-alt"></i>
                        <span class="icon-text">Déconnexion</span>
                    </a>
                    {% else %}
                    <a href="/register" class="icon-link" >
                        <i class="fas fa-user-plus"></i>
                        <span class="icon-text"></span>
                    </a>

                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>
