<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom shadow-sm fixed-top">
    <a class="navbar-brand" href="/">RetailShop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <div class="input-group p-0 justify-content-center">
            <form action="/search" method="get" class="w-100 m-0" style="padding-right: 20%;">
                <div class="input-group-append rounded-left">
                    <input type="text" class="form-control rounded-left form-control-sm" autocomplete="off" style="float: left; border-radius: 0;" name="q" placeholder="What you want...">
                    <button class="btn btn-success btn-sm rounded-right" style="border-radius: 0;" type="submit">Search</button>
                </div>
            </form>
        </div>
        <ul class="navbar-nav ml-auto">
            {% if session.logged_in %}
            <li class="nav-item"><a href="/" class="nav-link"><span class=""></span> Accueil</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownLoggedIn" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Shop
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownLoggedIn">
                    <a class="dropdown-item" href="/mens">Hommes</a>
                    <a class="dropdown-item" href="/womens">Femmes</a>
                    <a class="dropdown-item" href="/tshirt">T-shirts</a>
                    <a class="dropdown-item" href="/shoes">Chaussures</a>
                    <a class="dropdown-item" href="/belt">Ceintures</a>
                    <a class="dropdown-item" href="/wallet">Portefeuilles</a>
                </div>
            </li>
            <li class="nav-item"><a href="/sales" class="nav-link">Promotions</a></li>
            <li class="nav-item"><a href="/arrivals" class="nav-link">Nouveautés</a></li>
            <li class="nav-item"><a href="/brands" class="nav-link">Marques</a></li>
            <li class="nav-item"><a href="/profile?user={{session.uid}}" class="nav-link"><span class=""></span>Profile</a>
            </li>
            <li class="nav-item"><a href="/cart" class="nav-link"><i class="fas fa-shopping-cart"></i></a></li>
            <li class="nav-item"><a href="/out" class="nav-link"><span class=""></span> Déconnexion</a></li>
            {% else %}
            <li class="nav-item"><a href="/" class="nav-link"><span class=""></span> Accueil </a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownGuest" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Shop
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownGuest">
                    <a class="dropdown-item" href="/mens">Hommes</a>
                    <a class="dropdown-item" href="/womens">Femmes</a>
                    <a class="dropdown-item" href="/tshirt">T-shirts</a>
                    <a class="dropdown-item" href="/shoes">Chaussures</a>
                    <a class="dropdown-item" href="/belt">Ceintures</a>
                    <a class="dropdown-item" href="/wallet">Portefeuilles</a>
                </div>
            </li>
            <li class="nav-item"><a href="/sales" class="nav-link">Promotions</a></li>
            <li class="nav-item"><a href="/arrivals" class="nav-link">Nouveautés</a></li>
            <li class="nav-item"><a href="/brands" class="nav-link">Marques</a></li>
            <li class="nav-item"><a href="/register" class="nav-link"><span class=""></span> Inscription</a></li>
            <li class="nav-item"><a href="/login" class="nav-link"><span class=""></span> Connexion</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
